body{
    background-color: brown;
}

.classe-table{
    border: 1px solid black;
    width: 60%;
    margin: 10px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
}

.linha td{
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 20px;
}

.linha:last-child td{
    border-bottom: none;
}

.classe-linha th{
    border-bottom: 1px solid black;
    font-size: 20px;
}

.esquerda{
    text-align: center;
}

h1{
    color: white;
}


.escolha-grupo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.tabela{
    border: 1px solid black;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    color: black;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.cabecalho-tabela th{
    border-bottom: 1px solid black;
    font-size: 20px;
}
.row td{
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 20px;
}

.row:last-child td{
    border-bottom: none;
}

.grupo{
    font-size: 3.0rem;
}

#letraSelecionada{
    width: 3.0rem;
    height: 3.0rem;
    font-size: 1.6rem;
    text-align: center;
}

.container-exibicao-sim-nao{
    display: flex;
    flex-direction: column;
    width: 300px;
}

#escolha-exibicao-todos{
    width: 50px;
}
